@import '../../../styles/common';

.appName {
  display: flex;
  height: calc(100vh - 120px);
  justify-content: center;
  align-items: center;
  font-family: $font-main;
  min-height: 448px;


  @include small-desktop-tablet-landscape() {
    height: calc(100vh - 160px);
  }
  @include medium-desktop() {
    height: calc(100vh - 200px);
  }
  @include large-desktop() {
    height: calc(100vh - 240px);
  }
}

.title {
  color: $text-color;
}

