@import url('https://fonts.googleapis.com/css?family=Princess+Sofia&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

// fonts
$font-main: Princess Sofia, sans-serif;
$text-font: Open Sans, sans-serif;


// colors
$main-color: #FF9C54;
$text-color: #000000;
$background: #ffffff;
$validators: #ff4538
