@import url('https://fonts.googleapis.com/css?family=Princess+Sofia&display=swap');

.top {

  position: absolute;
  width: 100%;
  height: 120px;
  left: -1px;
  top: 0px;

  background: #FF9C54;
}


.bottom {

  width: 100%;
  height: 120px;
  bottom: 0px;
  left: -1px;
  position: fixed;

  background: #FF9C54;
}

//h1 {
//  font-family: Princess Sofia;
//  padding-top: 100px;
//  font-size: 40px;
//  color: #000000;
//  text-align: center;
//}


.logo {

  display: inline;
  color: #000000;
}

.logo_a {
  list-style: none;
  background-image: url(../../../assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 35px;
  padding-left: 170px;
  font-family: Princess Sofia;
  font-size: 35px;
  display: inline-block;
  text-decoration: none;
  padding-top: 35px;
  color: #000000;

}


h3 {
  font-family: Princess Sofia;
  padding-top: 2px;
  font-size: 20px;
  color: #000000;
  text-align: center;
}

button {
  font-family: Princess Sofia;
  font-size: 15px;
  border-radius: 12px;
  background-color: white;
  color: black;
  border: 1px solid #FF9C54;
  padding: 4px 27px;

}

::placeholder {
  font-family: Princess Sofia;
  font-size: 20px;
  color: black;


}

input {
  font-family: Princess Sofia;
  font-size: 20px;
  color: black;
  padding: 5px 70px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
  border-width: 1px;
  border-color: #FF9C54;
}


