@import '../../../../../styles/common';

.formTemplate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 206px;

  @include small-desktop-tablet-landscape() {
    width: 300px;
  }
  @include medium-desktop() {
    width: 400px;

  }
  @include large-desktop() {
    width: 500px;
  }
}
