@import '../../../styles/common';

.mainContainer {
  width: 100%;
  height: calc(100vh - 120px);
  min-height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


  @include small-desktop-tablet-landscape() {
    height: calc(100vh - 160px);
    min-height: 525px;
  }
  @include medium-desktop() {
    height: calc(100vh - 200px);
    min-height: 584px;

  }
  @include large-desktop() {
    height: calc(100vh - 240px);
    min-height: 635px;

  }
}


.title {

  font-family: $font-main;
  font-size: 30px;
  margin-top: 75px;

  @include small-desktop-tablet-landscape() {
    margin-top: 65px;
    font-size: 43px;
  }
  @include medium-desktop() {
    margin-top: 60px;
    font-size: 50px;
  }
  @include large-desktop() {
    margin-top: 55px;
    font-size: 58px;
  }

}

.signUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 206px;

  @include small-desktop-tablet-landscape() {
    width: 300px;
  }
  @include medium-desktop() {
    width: 400px;

  }
  @include large-desktop() {
    width: 500px;
  }

}

.control {
  width: 100%;
  height: 15px;
  margin: 5px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $main-color;
  font-size: 11px;
  font-family: $text-font;

  @include small-desktop-tablet-landscape() {
    width: 95%;
    height: 23px;
    margin: 10px 0;
    font-size: 16px;
  }
  @include medium-desktop() {
    width: 95%;
    height: 26px;
    margin: 13px 0;
    font-size: 22px;

  }
  @include large-desktop() {
    width: 95%;
    height: 30px;
    margin: 16px 0;
    font-size: 26px;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 11px;
    font-family: $font-main;
    color: $text-color;

    @include small-desktop-tablet-landscape() {
      font-size: 16px;
    }
    @include medium-desktop() {
      font-size: 22px;
    }
    @include large-desktop() {
      font-size: 26px;
    }
  }

}


.submit {
  width: 85px;
  height: 25px;
  font-family: $font-main;
  margin-top: 30px;
  background-color: $background;
  border-radius: 7.5px;
  border: 2px solid $main-color;
  font-size: 13px;


  @include small-desktop-tablet-landscape() {
    font-size: 18px;
    width: 119px;
    height: 35px;
  }
  @include medium-desktop() {
    font-size: 21px;
    width: 130px;
    height: 38px;

  }
  @include large-desktop() {
    font-size: 23px;
    width: 135px;
    height: 40px;
  }

}
